<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12" ng-controller="ManageBranchCtrl">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Due amounts
          <div class="card-actions">
            <a ui-sref="app.addbranch">
              <strong>Add</strong>
            </a>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
              <tr>
                <th class="id">Branch Name</th>
                <th class="name">Users</th>
                <th class="description">Last Sale</th>
                <th class="field3">Edit</th>
              </tr>
            </thead>
            <tfoot>
              <td colspan="6">
                <div class="pagination pull-right">
                  <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                      <a href ng-click="prevPage()">« Prev</a>
                    </li>

                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="setPage()">
                      <a href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                      <a href ng-click="nextPage()">Next »</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tfoot>
            <tbody>
              <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                <td>{{item.branch_name}}</td>
                <td>{{item.users}}</td>
                <td>{{item.last_sale}}</td>
                <td><a ui-sref="app.editbranch"><i class="fa fa-edit fa-lg m-t-2"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>