<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

            <li class="divider"></li>

            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.reports"><i class="icon-puzzle"></i> Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.managebranch"><i class="icon-puzzle"></i> Manage branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.settings"><i class="icon-puzzle"></i> Settings</a>
            </li>
        </ul>
    </nav>
</div>
